composer.phar
/vendor/

.build/php-cs-fixer/
.phpunit.result.cache
debian/.debhelper/
debian/multiflexi-zabbix/
debian/debhelper-build-stamp
debian/files
debian/multiflexi-zabbix.debhelper.log
debian/multiflexi-zabbix.substvars
/nbproject/private/
debian/multiflexi-zabbix.postrm.debhelper
nbproject/project.properties
