Source: multiflexi-zabbix
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper-compat (= 13), pkg-php-tools
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/multiflexi-zabbix

Package: multiflexi-zabbix
Architecture: all
Depends: ${misc:Depends}, ${phpcomposer:Depends}, php-vitexsoftware-multiflexi-core, debconf (>= 0.5), php-dragonmantank-cron-expression
Recommends: zabbix-agent2
Description: Zabbix support for MultiFlexi
 LLD for configured content
