#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor\/autoload.php/\/usr\/share\/php\/MultiFlexi\/autoload.php/g' debian/multiflexi-zabbix/usr/share/multiflexi-zabbix/*.php
