#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	sed -i -e 's/..\/vendor\//\/usr\/lib\/php\/multiflexi-zabbix\//g' debian/multiflexi-zabbix/usr/share/multiflexi-zabbix/*.php
	sed -i -e 's/..\/.env/\/etc\/multiflexi\/multiflexi.env/g' debian/multiflexi-zabbix/usr/share/multiflexi-zabbix/*.php
